:host {
    .label {
        color: #959595;
        display: block;
        font-family: 'NHaasGroteskDSStd-75Bd', sans-serif;
        font-size: 18px;
        margin: 30px 0 10px;
    }

    .price {
        color: #cd040b;
        display: block;
        font-family: 'NHaasGroteskDSStd-75Bd', sans-serif;
        font-size: 18px;
    }
}
